* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

:root {
    --color-renn: red;
    --color-kevin: #2B1F1A;
    --color-WhatsApp: #25D366;
    --color-Facebook: #1877F2;

}


body{
    background: linear-gradient(180deg,#FAF6F1 0%, #F8F3ED 100%);
}